:root {
    --primary-color: #c7dc8e;
    --border-style: 1px solid #000000;
    --secondary-color: #a7beb0;
    --accent-color: #8ca5a1;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffae4;
    font-family: Verdana;
}

.rounded {
    border-radius: 6px;
}

header {
    width: 1024px;
    margin: 10px auto;
    padding: 10px;
    border: var(--border-style);
    background-color: var(--accent-color);
}

nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #0077cc;
}

h1 {
    font-size: 130%;
}

main {
    width: 1024px;
    margin: 10px auto;
    padding: 10px;
    border: var(--border-style);
    background-color: var(--primary-color);
}

aside {
    float: left;
    width: 160px;
    padding: 10px;
    margin: 10px;
    border: var(--border-style);
    background-color: var(--secondary-color);
    font-size: 80%;
}

content {
    float: right;
    width: 780px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: var(--border-style);
    background-color: #ffffff;
    font-size: 80%;
}

.clear {
    clear: both;
}

label {
    display: block;
    font-weight: bold;
}
label:after {
    content: ":";
}

input, select {
    display: block;
    margin-bottom: 10px;
    border: var(--border-style);
    border-radius: 4px;
}

submit {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    grid-auto-rows: minmax(20px, auto);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.grid .no-media {
    grid-column: 1 / span 4;
}
.grid > div {
    background: #eee;
    padding: 3px;
}
.grid .alt {
    background: #e3e3e3;
}
.grid .title {
    background: #ccc;
    font-weight: bold;
}

.grid .thumbPreview {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px solid #000000;
    background: #ffffff;
    padding: 10px;
}

form .thumbPreview {
    float: right;
}

p.notice {
    border: 1px solid #b57979;
    background-color: #e5a5a5;
    padding: 6px;
}

#new {
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #cccccc;
    border: var(--border-style);
    border-radius: 3px;
}
#new:hover {
    background-color: #e5a5a5;
    color: #000000;
}