:root {
    --primary-color: #c7dc8e;
    --border-style: 1px solid #000000;
    --secondary-color: #a7beb0;
    --accent-color: #8ca5a1;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffae4;
    font-family: Verdana;
}

.rounded {
    border-radius: 6px;
}

main {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-align: center;
    border: var(--border-style);
    background-color: var(--accent-color);
    border-radius: 6px 6px 0 0;
    z-index: -1;
}

header h1 {
    padding: 6px 0 12px 0;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li hr {
    margin-top: 12px;
    border: 1px dotted #523827;
}

a {
    color: #0077cc;
}

h1 {
    font-size: 130%;
}

content {
    position: absolute;
    top: 40px;
    width: 1002px;
    padding: 10px;
    border: var(--border-style);
    background-color: var(--primary-color);
}

aside {
    float: left;
    width: 160px;
    padding: 10px;
    margin: 10px;
    border: var(--border-style);
    background-color: var(--secondary-color);
    font-size: 80%;
}

article {
    float: right;
    width: 760px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: var(--border-style);
    background-color: #ffffff;
    font-size: 80%;
}

.clear {
    clear: both;
}



/* FORMS */
label {
    display: block;
    font-weight: bold;
}

label:after {
    content: ":";
}

input, select, textarea {
    display: block;
    margin-bottom: 10px;
    border: var(--border-style);
    border-radius: 4px;
}

submit {
    display: block;
}

#pageContent {
    width: 99%;
    height: 400px;
}



/* GRIDS */
.grid {
    display: grid;
    gap: 0;
    grid-auto-rows: minmax(20px, auto);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.grid > div {
    background: #eee;
    padding: 3px;
}

.grid .alt {
    background: #e3e3e3;
}

.grid .title {
    background: #ccc;
    font-weight: bold;
}



/* MEDIA ITEMS */
.grid.media {
    grid-template-columns: repeat(4, 1fr);
}

.grid .no-media {
    grid-column: 1 / span 4;
}

.grid .thumbPreview {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px solid #000000;
    background: #ffffff;
    padding: 10px;
}

form .thumbPreview {
    float: right;
}



/* GALLERIES GRID */
.grid.galleries {
    grid-template-columns: repeat(3, 1fr);
}

.grid .no-galleries {
    grid-column: 1 / span 3;
}



/* PAGES GRID */
.grid.pages {
    grid-template-columns: repeat(2, 1fr);
}

.grid .no-pages {
    grid-column: 1 / span 2;
}



/* GRID CONTROLS */
p.notice {
    border: 1px solid #b57979;
    background-color: #e5a5a5;
    padding: 6px;
}

#new {
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #cccccc;
    border: var(--border-style);
    border-radius: 3px;
}

#new:hover {
    background-color: #e5a5a5;
    color: #000000;
}



/* CONTENT */
.completion-checkbox {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
}

ul.no-bullet, ul.no-bullet ul {
    padding-left: 20px;
    list-style-type: none;
}

ul.no-bullet li {
    padding: 4px 0;
}

article h1 {
    font-size: 160%;
}

article h2 {
    font-size: 120%;
}