@using ClozerWoods.Models.ViewModels.MainGate
@model PageViewModel
@{
    Layout = "../Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Edit Page";
}

<form method="post" asp-controller="MainGate" asp-action="EditPage">
    <label for="stub">Stub</label>
    <input type="text" name="stub" value="@Model.SelectedPage!.Stub" />

    <label for="title">Title</label>
    <input type="text" name="title" value="@Model.SelectedPage!.Title" />

    <label for="content">Content</label>
    <textarea name="content" id="pageContent" spellcheck="false">@Model.SelectedPage!.Content</textarea>

    @if(Model.ParentPageList!.Any()) {
        <label for="parentId">Parent</label>
        <select name="parentId" id="parentId" asp-items="Model.ParentPageList"></select>
    }

    <label for="isHome">Is Homepage</label>
    @{
        var isHome = "";
        if(Model.SelectedPage.IsHome) {
            isHome = "checked";
        }
    }
    <input type="checkbox" name="isHome" @isHome />

    <label for="published">Published</label>
    @{
        var published = "";
        if(Model.SelectedPage.Published) {
            published = "checked";
        }
    }
    <input type="checkbox" name="published" @published />

    <input type="submit" name="submit" value="Save" />
</form>