@{
    Layout = "_Layout.cshtml";
}

<h1>Clozer Woods Main Gate - @ViewData["Title"]</h1>
<aside class="rounded">
    <ul>
        <li><a asp-area="" asp-controller="MainGate" asp-action="ListPages">Pages</a></li>
        <li><a asp-area="" asp-controller="MainGate" asp-action="ListGalleries">Galleries</a></li>
        <li><a asp-area="" asp-controller="MainGate" asp-action="ListMediaItems">Media Items</a></li>
    </ul>
</aside>

<content class="rounded">
    @RenderBody()
</content>

@section scripts {
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
}