@{
    Layout = "_Layout.cshtml";
}

<h1>Clozer Woods Sub-Gate - @ViewData["Title"]</h1>
<aside class="rounded">
    <ul>
        <li><a asp-area="" asp-controller="SubGate" asp-action="EditPage">Pages</a></li>
        <li><a asp-area="" asp-controller="SubGate" asp-action="EditGallery">Galleries</a></li>
        <li><a asp-area="" asp-controller="SubGate" asp-action="EditGalleryItems">All Gallery Items</a></li>
    </ul>
</aside>

<content class="rounded">
    @RenderBody()
</content>

@section scripts {
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
}