@using ClozerWoods.Models.ViewModels
@model SharedViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ClozerWoods</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="icon" href="data:,">
</head>
<body>
    @if(Model.PublishedPages != null && Model.PublishedPages.Any()) {
        <header class="rounded">
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="MainGate" asp-action="Index">Home</a></li>
                    @foreach(var p in Model.PublishedPages!) {
                        <li><a asp-area="" asp-controller="MainGate" asp-action="Page">@p.Title</a></li>
                    }
                    <li>|</li>
                    <li><a asp-area="" asp-controller="MainGate" asp-action="Dashboard">Dashboard</a></li>
                </ul>
            </nav>
        </header>
    }

    <main class="rounded">
        @RenderBody()
        <div class="clear"></div>
    </main>

    @RenderSection("scripts", false)
</body>
</html>
