@using ClozerWoods.Services
@model ClozerWoods.Models.ViewModels.Public.PageViewModel
@{
    ViewData["Title"] = Model.SelectedPage.Title;
}

<article class="rounded">
    <h1>@Model.SelectedPage.Title</h1>
    @Html.Raw(Model.QuickTagService.Transform(Model.SelectedPage.Content))
</article>
