@model ClozerWoods.Models.ViewModels.Public.PageViewModel
@{
    ViewData["Title"] = Model.SelectedPage.Title;
}

<content class="rounded">
    <h1>@Model.SelectedPage.Title</h1>
    @Html.Raw(Model.SelectedPage.Content)
</content>
