@{
    ViewData["Title"] = "Sub-Gate Login";
}

<h1>Clozer Woods Sub-Gate</h1>
<form method="post" action="/subgate/login">
    <label for="username">Username</label>
    <input type="text" name="username" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>